<div class="container-fluid">
  <div class="row">
    <div class="col-md-12  justify-content-md-center">
      <h3>Painel de Controle.......</h3>
  </div>
  </div>
  <div class="row">
    <div class="col col-md6 col-md-offset-3 mt-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tipo de Evento</th>
            <th>Evento</th>
            <th>Responsável</th>
            <th>Não Enviados</th>
            <th>Enviados</th>
            <th>Com Erro</th>
            <th>Não Processados</th>
            <th>Processados</th>
            <th>Detalhe</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tabela</td>
            <td>S1005 - Estabelecimento</td>
            <td>João da Silva</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>
              <a (click)="showDetalhes(1)"><i class="fa fa-lg fa-info-circle"></i></a>
            </td>
          </tr>

          <tr>
            <td>Tabela</td>
            <td>S1005 - Estabelecimento</td>
            <td>João da Silva</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>
                <a (click)="showDetalhes(2)"><i class="fa fa-lg fa-info-circle"></i></a>
              </td>
          </tr>

          <tr>
            <td>Tabela</td>
            <td>S1005 - Estabelecimento</td>
            <td>João da Silva</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>
                <a (click)="showDetalhes(3)"><i class="fa fa-lg fa-info-circle"></i></a>
              </td>
          </tr>

          <tr>
            <td>Tabela</td>
            <td>S1005 - Estabelecimento</td>
            <td>João da Silva</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>
                <a (click)="showDetalhes(4)"><i class="fa fa-lg fa-info-circle"></i></a>
              </td>
          </tr>

          <tr>
            <td>Tabela</td>
            <td>S1005 - Estabelecimento</td>
            <td>João da Silva</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>
                <a (click)="showDetalhes(5)"><i class="fa fa-lg fa-info-circle"></i></a>
              </td>
          </tr>

          <tr>
            <td>Tabela</td>
            <td>S1005 - Estabelecimento</td>
            <td>João da Silva</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>
                <a (click)="showDetalhes(6)"><i class="fa fa-lg fa-info-circle"></i></a>
              </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>