:host /deep/ .table td, .table th {
    padding: .15rem .15rem .15rem .75rem;
    vertical-align: middle;
}

:host /deep/ .ui-select-choices {
    display: block;    
}

:host /deep/ .ui-select-search {
    
    }

:host /deep/ .ui-select-match-item {
    padding: .25rem .37rem;
          
}

input.ui-select-search {
    background-color: #F00 !important;
}


:host /deep/ .ui-select-match .close {
    font-size: 1em;
    line-height: 1;
}


.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}