<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-left mt-3">PAINEL DE CONTROLE</h3>
            <h4 class="text-center">{{ idEvento }} - {{ descEvento }}</h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto">
            <p>
                <button type="button" class="btn btn-primary" (click)="backToPainel()" placement="top" ngbTooltip="Voltar">
                    <i class="fa fa-lg fa-arrow-left"></i>
                </button>
                <button class="btn btn-primary pr-2" (click)="refresh(mysearchfilter.value)" placement="top" ngbTooltip="Atualizar">
                    <i class="fa fa-lg fa-refresh"></i>
                </button>
                <button type="button" class="btn btn-primary" (click)="toggleFiltro()" placement="top" ngbTooltip="{{tooltipFiltro}}" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseExample">
                    <span [style.display]="isCollapsed ? 'block' : 'none'">
                        <i class="fa fa-filter fa-lg"></i>
                        <i class="fa fa-chevron-down pl-2"></i>
                    </span>
                    <span [style.display]="!isCollapsed ? 'block' : 'none'">
                        <i class="fa fa-filter fa-lg"></i>
                        <i class="fa fa-chevron-up pl-2"></i>
                    </span>
                </button>
            </p>
        </div>
        <div class="col">
            <div id="collapseExample" [ngbCollapse]="isCollapsed">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-4">
                                <h6>Pesquisa Textual</h6>

                                <div class="input-group mb-3">
                                    <input  #mysearchfilter type="text" class="form-control" placeholder="Digite a palavra">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button"(click)="getEventos(1,porPagina,true,mysearchfilter.value);">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <button class="btn btn-danger" type="button" (click)="mysearchfilter.value = null; getEventos();">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md6 col-md-offset-3 mt-3">
            <table *ngIf="!zeroEventos" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th class="text-center">Data/Hora Geração</th>
                        <th *ngIf="getCpfTrab(eventos[0])" class="text-center">CPF do Trabalhador</th>
                        <th class="text-center">Data Início</th>
                        <th class="text-center">Data fim</th>
                        <th class="text-center">Operação</th>
                        <th>Recibo</th>
                        <th class="text-center">XML</th>
                        <th class="text-center">Erros</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evento of eventos; let i = index" (click)="selecionaEvento(i)" [ngClass]="{'table-primary': i === eventoDestacadoIndex}">
                        <td scope="row">
                            <div class="form-check">
                                <input *ngIf="exclusaoEsocial(evento)" class="form-check-input position-static" type="checkbox" [(ngModel)]="evento.selecionado">
                            </div>
                            <i *ngIf="evento.excluidoEvento === 1" placement="top" ngbTooltip="Excluído do eSocial" class="fa fa-lg fa-times" style="color:red"></i>
                        </td>
                        <td class="text-center">{{ evento.dhGeracao | myDate }}</td>
                        <td *ngIf="getCpfTrab(eventos[0])" class="text-center">{{ getCpfTrab(evento) | myCpf }}</td>
                        <td class="text-center">{{ getInicioVigencia(evento) }}</td>
                        <td class="text-center">{{ getFimVigencia(evento) }}</td>
                        <td class="text-center">{{ evento.operacao.descricao }}</td>
                        <td>{{ evento.nrRecibo }}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-link text-dark" placement="left" ngbTooltip="Exibir XML" (click)="abrirXml(evento.xml)">
                                <i class="fa fa-lg fa-code"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-link text-dark" placement="left" ngbTooltip="Exibir ocorrências de erros" (click)="abrirErros(evento.ocorrencias)"
                                [style.display]="styleErro(evento.status.cdResposta)">
                                <i class="fa fa-lg fa-external-link"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="backToPainel()" placement="top" ngbTooltip="Voltar">
                <i class="fa fa-lg fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-danger" (click)="abrirEnviar()" placement="top" ngbTooltip="Marcar eventos selecionados para exclusão no eSocial"><i class="fa fa-lg fa-cloud-download"></i> Excluir do eSocial</button>
        </div>
        <div class="col col-6">
            <ngb-pagination *ngIf="totalEventos > porPagina" class="justify-content-center" (pageChange)="mudaPagina($event, mysearchfilter.value)" [collectionSize]="totalEventos"
                [boundaryLinks]="true" [rotate]="true" [maxSize]="5" [(page)]="pagina" [(pageSize)]="porPagina">
            </ngb-pagination>
            <div class="justify-content-center">
                <h5>
                    <span class="badge badge-secondary">Eventos: {{ totalEventos }}</span>
                </h5>
            </div>
        </div>
        <div class="col col-3s">
            <div class="pull-right">
                <select class="form-control form-control-sm" (change)="onChangePorPagina($event, mysearchfilter.value)" [(ngModel)]="porPagina">
                    <option value="5">5 eventos/página</option>
                    <option value="10">10 eventos/página</option>
                    <option value="15">15 eventos/página</option>
                    <option value="20">20 eventos/página</option>
                    <option value="50">50 eventos/página</option>
                    <option value="100">100 eventos/página</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!-- MODAL Envio de eventos ************************************************************************* -->
<ng-template #dlgEnviar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Envio de eventos</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="text-center">
            {{mensagemEnvio}}
        </h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>

<!-- MODAL Erros ************************************************************************************* -->
<ng-template #dlgErros let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Ocorrências de Erros</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let ocorrencia of errosOcorrencias" class="card mb-4">
            <div class="card-header bg-secondary text-white">
                Erro
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Código: </strong>{{ ocorrencia.codigo}}</li>
                <li class="list-group-item">
                    <small>
                        <strong>Descrição:</strong>
                    </small>
                    <br/>{{ ocorrencia.descricao}}</li>
                <li *ngIf="ocorrencia.localizacao" class="list-group-item">
                    <small>
                        <strong>Localização:</strong>
                    </small>
                    <br/>{{ ocorrencia.localizacao}}</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>

<!-- MODAL XML ***************************************************************************************** -->
<ng-template #dlgXML let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">XML do Evento</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngx-prism [language]="language">{{ xmlEvento | myXml }}</ngx-prism>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>

<!-- MODAL Remover Evento **************************************************************************** -->
<ng-template #dlgRemover let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Remoção de evento</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Deseja confirmar a exclusão no eSocial dos eventos selecionados?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-primary" [disabled]="botaoExcluirHabilitar()" (click)="removerEventos();">Sim</button>
    </div>
</ng-template>
