<header class="navbar navbar-dark bg-custom" id="cabecalho">
    <a class="navbar-brand mr-0 mr-md-2" routerLink="/">
        <img src="./../../../assets/images/esocial.png" class="logo-e-social" /> eSocial
    </a>
    <my-logo></my-logo>
    <my-menu></my-menu>
</header>
<my-activeuser></my-activeuser>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="p-3">
                <my-overlay></my-overlay>
                <my-alert></my-alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    </div>
<footer class="bg-light pt-2 pb-2 border-on-top fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="empresaVersao">
                    <img src="./../../../assets/images/logoCiascRodape.png" class="pr-1">
                </p>
            </div>
            <div class="col text-center">
                <p class="empresaVersao">
                    Centro de Informática e Automação do Estado de Santa Catarina
                </p>
            </div>
            <div class="col">
                <p class="empresaVersao text-right">Versão: {{versao}}
                    <br/>{{dataVersao}}</p>
            </div>
        </div>

    </div>
</footer>