.navbar-nav .nav-link {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-brand {
    font-size: 2.0rem !important;
}

.logo-e-social {
  width: 50px;
  height: 50px;
}

.bg-custom {

    /* Padrão (Secondary) */
    color: #212529;
    background-color:  #868e96 !important;
    border-color: #868e96 !important; 

    /* Verde Água 
    color: #103D3F;
    background-color: #40B3A1;
    border-color: #067264; */

    /* Outubro Rosa
    color: #99004d;
    background-color: #f169b4;
    border-color: #800040; */

    /* Novembro Azul 
    color: #003355;
    background-color: #0089E4;
    border-color: #015A91; */

  }

  .empresaVersao {
    font-size: 70%;
    color: #8b9baa;
  }

  .border-on-top {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #8b9baa !important;
    height: 45px;
    background-color: #e9ecef !important;
  }
