<div class="container-fluid">
    <div class="row bg-light border pl-1 pb-1" *ngIf="autenticado">
        <div class="col col-md-auto" id="nome">
            <small>Usuário:</small>
            <strong>{{ usuarioCorrente.nomecompleto }}</strong>
        </div>
        <div class="col" id="orgao">
            <small>Órgão:</small>
            <strong>{{ usuarioCorrente.orgao }}</strong>
        </div>
        <div class="col-6"></div>
    </div>
</div>
