<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-center mt-3">Folhas de Pagamento do eSocial</h3>
        </div>
    </div>
    <div *ngIf="hideAlertMessage" class="alert alert-success" role="alert">
        Evento enviado com sucesso!
    </div>
    <div class="row">
        <div class="col col-md6 col-md-offset-3 mt-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Competência</th>
                        <th>Situação</th>
                        <th class="text-center" *ngIf="apuracaoIndividual">Apuração Individual Contribuições Sociais</th>
                        <th class="text-center" *ngIf="apuracaoIndividual">Apuração Individual Imposto de Renda</th>
                        <th class="text-center" *ngIf="apuracaoIndividual">Apuração Individual Fundo de Garantia</th>
                        <th class="text-center">Apuração Consolidada Contribuições Sociais</th>
                        <th class="text-center">Apuração Consolidada Imposto de Renda</th>
                        <th class="text-center">Apuração Consolidada Fundo de Garantia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let folhaPagamento of folhasPagamento; let i = index" (click)="selecionaFolha(i)" [ngClass]="{'table-primary': i === folhaSelecionadaIndex}">
                        <td>{{ folhaPagamento._id | myCompetencia }}</td>
                        <td [ngClass]="classeSituacao(folhaPagamento.status._id)">
                            <i [class]="classeIconeSituacao(folhaPagamento.status._id)"></i>
                            {{folhaPagamento.status.descricao}}
                        </td>
                        <td class="text-center" *ngIf="apuracaoIndividual">
                            <div class="btn-group" role="group" aria-label="Ações">
                                <button type="button" class="btn btn-link text-dark" *ngIf="folhaPagamento.permiteApuracaoIndividual"
                                    placement="left" ngbTooltip="Ver detalhe" (click)="apuracaoIndividualContribuicoesSociais(folhaPagamento._id)">
                                    <i class="fa fa-lg fa-external-link"></i>
                                </button>
                            </div>
                        </td>
                        <td class="text-center" *ngIf="apuracaoIndividual">
                            <div class="btn-group" role="group" aria-label="Ações">
                                <button type="button" class="btn btn-link text-dark" *ngIf="folhaPagamento.permiteApuracaoIndividual"
                                    placement="left" ngbTooltip="Ver detalhe" (click)="apuracaoIndividualImpostoRenda(folhaPagamento._id)">
                                    <i class="fa fa-lg fa-external-link"></i>
                                </button>
                            </div>
                        </td>
                        <td class="text-center" *ngIf="apuracaoIndividual">
                            <div class="btn-group" role="group" aria-label="Ações">
                                <button type="button" class="btn btn-link text-dark" *ngIf="folhaPagamento.permiteApuracaoIndividual"
                                    placement="left" ngbTooltip="Ver detalhe" (click)="apuracaoIndividualImpostoRenda(folhaPagamento._id)">
                                    <i class="fa fa-lg fa-external-link"></i>
                                </button>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="Ações">
                                <button type="button" class="btn btn-link text-dark" *ngIf="folhaPagamento.permiteApuracaoConsolidada"
                                    placement="left" ngbTooltip="Ver detalhe" (click)="apuracaoConsolidadaContribuicoesSociais(folhaPagamento._id)">
                                    <i class="fa fa-lg fa-external-link"></i>
                                </button>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="Ações">
                                <button type="button" class="btn btn-link text-dark" *ngIf="folhaPagamento.permiteApuracaoConsolidada"
                                    placement="left" ngbTooltip="Ver detalhe" (click)="apuracaoConsolidadaImpostoRenda(folhaPagamento._id)">
                                    <i class="fa fa-lg fa-external-link"></i>
                                </button>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="btn-group" role="group" aria-label="Ações">
                                <button type="button" class="btn btn-link text-dark" *ngIf="folhaPagamento.permiteApuracaoConsolidada"
                                    placement="left" ngbTooltip="Ver detalhe" (click)="apuracaoConsolidadaFundoDeGarantia(folhaPagamento._id)">
                                    <i class="fa fa-lg fa-external-link"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row"> 
        <div class="col-5">
        </div>
        <div class="col col-7">
            <ngb-pagination *ngIf="totalPagamentos > porPagina" class="justify-content-center" (pageChange)="mudaPagina($event)" [collectionSize]="totalPagamentos"
                [boundaryLinks]="true" [rotate]="true" [maxSize]="5" [(page)]="pagina" [(pageSize)]="porPagina">
            </ngb-pagination>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 text-center">
            <button type="button" class="btn btn-primary" (click)="abreDlgImportarFolha()" [disabled]="!permiteImportar()">Importar Eventos</button>
        </div>
        <div class="col-md-1 text-center">
            <button type="button" class="btn btn-primary" (click)="detalharEventos()" [disabled]="!permiteDetalhar()">Detalhar Eventos</button>
        </div>
        <div class="col-md-2 text-center">
            <button type="button" class="btn btn-primary" (click)="abreDlgTransmitirFolha()" [disabled]="!permiteTransmitir()">Transmitir Eventos</button>
        </div>

        <div class="col-md-1 text-center">
            <button type="button" class="btn btn-primary" (click)="imprimirErros()" [disabled]="!permiteImprimirErros()">Imprimir Erros</button>
        </div>
        <div *ngIf="apuracaoIndividual" class="col-md-3 text-center">
            <button type="button" class="btn btn-primary" (click)="totalizarEventos()" [disabled]="!permiteTotalizar()">Totalizar Eventos</button>
        </div>
        <div class="col-md-1 text-center">
            <button type="button" class="btn btn-primary" (click)="abreDlgFecharFolha()" [disabled]="!permiteFechar()">Fechar Folha</button>
        </div>
        <div class="col-md-1 text-center">
            <button type="button" class="btn btn-primary" (click)="abreDlgReabrirFolha()" [disabled]="!permiteReabrir()">Reabrir Folha</button>
        </div>
        <div class="col-md-2 text-center">
            <button type="button" class="btn btn-primary" (click)="abreDlgInfoImplementares()" [disabled]="!permiteFechar()">Informações Complementares</button>
        </div>
        <div class="col-md-2 text-center">
            <button type="button" class="btn btn-primary" (click)="abreDlgIncAutonomos()" [disabled]="!permiteFechar()">Inclusão de Autônomo</button>
        </div>
    </div>
</div>

<!-- MODAL Fechar Folha **************************************************************************** -->
<ng-template #dlgFecharFolha let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Fechar Folha</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5>Dados para fechamento:</h5>
        <p></p>
        <div>
            Existe Remuneração?
            <p>
                <input type="radio" [value]="true" name="remuneracaoSim"  [(ngModel)]="folhaSelecionadaObjeto.remuneracao"  > Sim
                <input type="radio" [value]="false" name="remuneracaoNao" [(ngModel)]="folhaSelecionadaObjeto.remuneracao"  > Não
            </p>
            
        </div>
        <div>
            Existe Pagamento?
            <p>    
                <input type="radio" [value]="true" name="pagamentoSim" [(ngModel)]="folhaSelecionadaObjeto.pagamento" > Sim
                <input type="radio" [value]="false" name="pagamentoNao" [(ngModel)]="folhaSelecionadaObjeto.pagamento" > Não
            </p>
        </div>
        <div>
            Há aquisição de produto rural?
            <p>
                <input type="radio" [value]="true" name="prodRuralSim" [(ngModel)]="folhaSelecionadaObjeto.prodRural" > Sim
                <input type="radio" [value]="false" name="prodRuralNao" [(ngModel)]="folhaSelecionadaObjeto.prodRural" > Não
            </p>
        </div>    
        <div>
            Há comercialização de produção?
            <p>
                <input type="radio" [value]="true" name="comProducaoSim" [(ngModel)]="folhaSelecionadaObjeto.comProducao" > Sim
                <input type="radio" [value]="false" name="comProducaoNao" [(ngModel)]="folhaSelecionadaObjeto.comProducao" > Não
            </p>
        </div>    
        <div>
            Há trabalhador avulso não portuário?
            <p>
                <input type="radio" [value]="true" name="trabNaoPortuarioSim" [(ngModel)]="folhaSelecionadaObjeto.trabNaoPortuario" > Sim
                <input type="radio" [value]="false" name="trabNaoPortuarioNao" [(ngModel)]="folhaSelecionadaObjeto.trabNaoPortuario" > Não
            </p>
        </div>
        <div>
            Há Informações complementares?
            <p>
                <input type="radio" [value]="true" name="infComplementarSim" [(ngModel)]="folhaSelecionadaObjeto.infComplementar" > Sim
                <input type="radio" [value]="false" name="infComplementarNao" [(ngModel)]="folhaSelecionadaObjeto.infComplementar" > Não
            </p>
        </div>
      
    </div>
    <div class="modal-footer">
        Confirma Fechamento?
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-primary" (click)="fecharFolha();this.modalFecharFolhaRef.close();">Sim</button>
    </div>
</ng-template>

<!-- MODAL Inclusão de Autônomo **************************************************************************** -->
<ng-template #dlgIncAutonomo let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Inclusão de Autônomo</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label><b>Identificação do Empregador</b></label>
            <div class="row">
                <div class="col-md-6 text-left">
                        <label for="cnpj">Número de Inscrição(CNPJ)</label>
                </div>
                <div class="col-md-6 text-center">
                        <input [(ngModel)]="this.cnpj" [textMask]="{mask: cnpjMask}" type="text" class="form-control" id="cnpj" required>
                </div>                
            </div>
            <label><b>Identificação do Trabalhador</b></label>
            <div class="row">
                <div class="col-md-6 text-left">
                        <label for="cpf">CPF</label>
                </div>
                <div class="col-md-6 text-center">
                        <input [(ngModel)]="this.cpf" [textMask]="{mask: cpfMask}" type="text" class="form-control" id="cpf" required>
                </div> 
            </div><br>
            <div class="row">
                <div class="col-md-6 text-left">
                        <label for="nis">NIS</label>
                </div>
                <div class="col-md-6 text-center">
                        <input [(ngModel)]="this.nis" type="text" class="form-control" id="nis" required>
                </div> 
            </div><br>
            <div class="row">
                    <div class="col-md-6 text-left">
                            <label for="nome">Nome</label>
                    </div>
                    <div class="col-md-6 text-center">
                            <input [(ngModel)]="this.nome" type="text" class="form-control" id="nome" required>
                    </div>
            </div><br>
            <div class="row">
                    <div class="col-md-6 text-left">
                            <label for="dtnasc">Dt. Nascto.</label>
                    </div>
                    <div class="col-md-6 text-center">
                            <input [(ngModel)]="this.dtNasc" [textMask]="{mask: dateMask}" type="text" class="form-control" id="dtnasc" required>
                    </div>
            </div>
          </div>
          <label>Demonstrativos de Valores</label>
          <div class="row">
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.dm[0]" type="text" class="form-control" id="dm1" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.dm[1]" type="text" class="form-control" id="dm2" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.dm[2]" type="text" class="form-control" id="dm3" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.dm[3]" type="text" class="form-control" id="dm4" required>
            </div>
          </div>
          <label>Categoria Trabalhador</label>
          <div class="row">
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.ctgt[0]" type="text" class="form-control" id="ctgt1" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.ctgt[1]" type="text" class="form-control" id="ctgt2" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.ctgt[2]" type="text" class="form-control" id="ctgt3" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.ctgt[3]" type="text" class="form-control" id="ctgt4" required>
            </div>
          </div>
          <label>Nr.Inscrição Estabelecimento (CNPJ)</label>
          <div class="row">
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.cnpjest[0]" [textMask]="{mask: cnpjMask}" type="text" class="form-control" id="cnpjest1" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.cnpjest[1]" [textMask]="{mask: cnpjMask}" type="text" class="form-control" id="cnpjest2" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.cnpjest[2]" [textMask]="{mask: cnpjMask}" type="text" class="form-control" id="cnpjest3" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.cnpjest[3]" [textMask]="{mask: cnpjMask}" type="text" class="form-control" id="cnpjest4" required>
            </div>
          </div>
          <label>Lotação</label>
          <div class="row">
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.locacao[0]" type="text" class="form-control" id="locacao1" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.locacao[1]" type="text" class="form-control" id="locacao2" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.locacao[2]" type="text" class="form-control" id="locacao3" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.locacao[3]" type="text" class="form-control" id="locacao4" required>
            </div>
          </div><br>
          <label><b>Itens da Remuneração</b></label><br>
          <label>Valor Rubrica 01-9000</label>
          <div class="row">
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.vlrRub[0]" (keyup)="fomatCurrency($event)" type="text" class="form-control" id="vlrRub1" style="text-align:right;" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.vlrRub[1]" (keyup)="fomatCurrency($event)" type="text" class="form-control" id="vlrRub2" style="text-align:right;" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.vlrRub[2]" (keyup)="fomatCurrency($event)" type="text" class="form-control" id="vlrRub3" style="text-align:right;" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.vlrRub[3]" (keyup)="fomatCurrency($event)" type="text" class="form-control" id="vlrRub4" style="text-align:right;" required>
            </div>
          </div>
          <label>Valor Rubrica 05-0512</label>
          <div class="row">
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.vlrRub[4]" (keyup)="fomatCurrency($event)" type="text" class="form-control" id="vlrRub5" style="text-align:right;" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.vlrRub[5]" (keyup)="fomatCurrency($event)" type="text" class="form-control" id="vlrRub6" style="text-align:right;" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.vlrRub[6]" (keyup)="fomatCurrency($event)" type="text" class="form-control" id="vlrRub7" style="text-align:right;" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.vlrRub[7]" (keyup)="fomatCurrency($event)" type="text" class="form-control" id="vlrRub8" style="text-align:right;" required>
            </div>
          </div>
          <label>CBO</label>
          <div class="row">
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.cbo[0]" type="text" class="form-control" id="cbo1" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.cbo[1]" type="text" class="form-control" id="cbo2" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.cbo[2]" type="text" class="form-control" id="cbo3" required>
            </div>
            <div class="col-md-3 text-center">
                <input [(ngModel)]="this.cbo[3]" type="text" class="form-control" id="cbo4" required>
            </div>
          </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="inclusaoiAutonomo();this.modalIncAutonomoRef.close();">Enviar</button>
    </div>
</ng-template>

<!-- MODAL Informacao Complementar **************************************************************************** -->
<ng-template #dlgInfoComplementar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Informação Complementar</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="percentual">Percentual de Desoneração</label>
            <input type="number" step="any" [(ngModel)]="this.percentual" class="form-control" id="percentual" required>
          </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="percentualFolha();this.modalInfoComplementarRef.close();">Enviar</button>
    </div>
</ng-template>

<!-- MODAL Reabrir Folha **************************************************************************** -->
<ng-template #dlgReabrirFolha let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Reabrir Folha</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Deseja reabrir a folha?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-primary" (click)="reabrirFolha();this.modalReabrirFolhaRef.close();">Sim</button>
    </div>
</ng-template>

<!-- MODAL Importar Folha **************************************************************************** -->
<ng-template #dlgImportarFolha let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Importar Folha</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Deseja importar os eventos da folha?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-primary" (click)="importarEventos();this.modalImportarFolhaRef.close();">Sim</button>
    </div>
</ng-template>

<!-- MODAL Transmitir Folha **************************************************************************** -->
<ng-template #dlgTransmitirFolha let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Transmitir Folha</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Deseja transmitir os eventos da folha?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-primary" (click)="transmitirEventos();this.modalTransmitirFolhaRef.close();">Sim</button>
    </div>
</ng-template>
