<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-center mt-3">Detalhe do Pagamento - {{ folha?._id | myCompetencia }}</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-4">
                            <h6>Evento</h6>
                            <ng-select [multiple]="true" [items]="tiposEvento" (data)="atualizaTiposEventoSelecionados($event)" [active]="this.filtros.tipos" placement="top" ngbTooltip="Selecione os eventos desejados"
                                placeholder="Nenhum evento selecionado"></ng-select>
                        </div>
                        <div class="col col-4">
                            <h6>Operação</h6>
                            <ng-select [multiple]="true" [items]="operacoes" (data)="atualizaOperacoesSelecionadas($event)" [active]="this.filtros.operacoes" placeholder="Nenhuma operação selecionada"
                                placement="top" ngbTooltip="Selecione as operações desejadas"></ng-select>
                        </div>
                        <div class="col col-4">
                            <h6>Situação</h6>
                            <ng-select [multiple]="true" [items]="situacoes" (data)="atualizaSituacoesSelecionadas($event)" [active]="this.filtros.statuses" placeholder="Nenhuma situação selecionada"
                                placement="top" ngbTooltip="Selecione as situações desejadas"></ng-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-4">
                            <h6>Pesquisa Textual</h6>
                            <div class="input-group mb-3">
                                <input type="text" [(ngModel)]="filtros.pesquisaTextual" class="form-control" placeholder="Digite a palavra">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="carregaEventos(1, eventosPorPagina)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button class="btn btn-danger" type="button" (click)="filtros.pesquisaTextual = null; carregaEventos(1, eventosPorPagina);">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md6 col-md-offset-3 mt-3">
            <table *ngIf="!(eventos.length === 0)" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" id="toggleCb" name="toggleCb" [(ngModel)]="paginaSelecionada"
                                    (change)="toggleSelecionaPagina()">
                            </div>
                        </th>
                        <th>Evento</th>
                        <th>Operação</th>
                        <th>Data/Hora Geração</th>
                        <th>Situação</th>
                        <th>XML</th>
                        <th>Erros</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evento of eventos; let i = index" (click)="selecionaEvento(i)" [ngClass]="{'table-primary': i === eventoDestacadoIndex}">
                        <td scope="row">
                            <div class="form-check">
                                <input *ngIf="podeExcluir(evento)" class="form-check-input position-static" type="checkbox" [(ngModel)]="evento.selecionado" />
                            </div>
                            <i *ngIf="evento.excluidoEvento === 1" placement="top" ngbTooltip="Excluído do eSocial" class="fa fa-lg fa-times" style="color:red"></i>
                        </td>
                        <td>{{evento.tipo.id}} - {{evento.tipo.descricao}}</td>
                        <td>{{evento.operacao.descricao}}</td>
                        <td>{{evento.dhGeracao | myDate}}</td>
                        <td [ngClass]="classeSituacao(evento.status.cdResposta)">
                            <i [class]="classeIconeSituacao(evento.status.cdResposta)"></i>
                            {{codigoErro(evento.status.cdResposta)}}{{evento.status.descResposta}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-link text-dark" placement="left" ngbTooltip="Exibir XML" (click)="abrirXml(evento.xml)">
                                <i class="fa fa-lg fa-code"></i>
                            </button>
                        </td>
                        <td>
                            <button *ngIf="evento.ocorrencias && evento.ocorrencias.length > 0" type="button" class="btn btn-link text-dark" placement="left" ngbTooltip="Exibir ocorrências de erros" (click)="abrirErros(evento.ocorrencias)">
                                <i class="fa fa-lg fa-external-link"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <button type="button" class="btn btn-primary" (click)="voltar()"><i class="fa fa-lg fa-arrow-left"></i></button>
            <button type="button" class="btn btn-danger" (click)="confirmaRemoverLocal()" [disabled]="!todosPodeExcluirLocal()"><i class="fa fa-lg fa-trash"></i> Excluir</button>
            <button type="button" class="btn btn-danger" (click)="confirmaRemoverESocial()" [disabled]="!todosPodeExcluirESocial()" placement="top"
                    ngbTooltip="Marcar eventos selecionados para exclusão no eSocial"><i class="fa fa-lg fa-cloud-download"></i> Excluir do eSocial</button>
        </div>
        <div class="col col-6">
            <ngb-pagination *ngIf="totalEventos > eventosPorPagina" class="justify-content-center" (pageChange)="mudaPagina($event)" [collectionSize]="totalEventos"
                [boundaryLinks]="true" [rotate]="true" [maxSize]="5" [(page)]="pagina" [(pageSize)]="eventosPorPagina">
            </ngb-pagination>
            <div class="justify-content-center">
                <h5>
                    <span class="badge badge-secondary">Eventos: {{ totalEventos }}</span>
                </h5>
            </div>
        </div>
        <div class="col col-2">
            <div class="pull-right">
                <select class="form-control form-control-sm" (change)="onChangePorPagina($event)" [(ngModel)]="eventosPorPagina">
                    <option selected value="10">10 eventos/página</option>
                    <option value="15">15 eventos/página</option>
                    <option value="20">20 eventos/página</option>
                    <option value="50">50 eventos/página</option>
                    <option value="100">100 eventos/página</option>
                </select>
            </div>
        </div>
    </div>

</div>
<!-- MODAIS
        -->
<!-- MODAL Envio de eventos ************************************************************************* -->
<ng-template #dlgEnviar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Envio de eventos</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="text-center">
            {{mensagemEnvio}}
        </h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>

<!-- MODAL Erros ************************************************************************************* -->
<ng-template #dlgErros let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Ocorrências de Erros</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let ocorrencia of errosOcorrencias" class="card mb-4">
            <div class="card-header bg-secondary text-white">
                Erro
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Código: </strong>{{ ocorrencia.codigo}}</li>
                <li class="list-group-item">
                    <small>
                        <strong>Descrição:</strong>
                    </small>
                    <br/>{{ ocorrencia.descricao}}</li>
                <li *ngIf="ocorrencia.localizacao" class="list-group-item">
                    <small>
                        <strong>Localização:</strong>
                    </small>
                    <br/>{{ ocorrencia.localizacao}}</li>
                <li *ngIf="ocorrencia.tipo" class="list-group-item">
                    <small>
                        <strong>Tipo:</strong>
                    </small>
                    <br/><strong [ngClass]="(ocorrencia.tipo === 1) ? 'ocorrencia-erro':'ocorrencia-advertencia'">{{ ocorrencia.tipo === 1 ? 'Erro' : 'Advertência'}}</strong></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>

<!-- MODAL XML ***************************************************************************************** -->
<ng-template #dlgXML let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">XML do Evento</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngx-prism [language]="language">{{ xmlEvento | myXml }}</ngx-prism>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>

<!-- MODAL Remover Evento **************************************************************************** -->
<ng-template #dlgRemover let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Remoção de evento</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Deseja confirmar a remoção?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-primary" (click)="removerEventos();">Sim</button>
    </div>
</ng-template>

<!-- MODAL Remover Evento **************************************************************************** -->
<ng-template #dlgRemoverESocial let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Remoção de eventos do eSocial</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Deseja confirmar a remoção do eSocial?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-primary" [disabled]="botaoExcluirHabilitar()" (click)="removerEventosESocial();">Sim</button>
    </div>
</ng-template>
