<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-center mt-3">Apuração de Imposto de Renda Consolidado</h3>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="voltar()" placement="top" ngbTooltip="Voltar">
                <i class="fa fa-lg fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="imprimir()">Imprimir</button>
        </div>
    </div>

    <div *ngIf="!dados">
        <h5>Não há dados para exibição</h5>
    </div>

    <div *ngIf="dados" id="conteudoImpressao">
        <div class="card mt-3 ideEvento">
            <div class="card-body">
                <h5 class="card-title">Período de Apuração</h5>
                <p class="card-text">Período ao qual se referem as informações: <b>{{ dados.ideEvento.perApur | myCompetencia }}</b></p>
            </div>
        </div>

        <div class="card mt-3 ideEmpregador">
            <div class="card-body">
                <h5 class="card-title">Empregador</h5>
                <p class="card-text">CNPJ: <b>{{ dados.ideEmpregador.nrInsc | myCnpj}}</b></p>
            </div>
        </div>

        <div class="card mt-3 infoIRRF">
            <div class="card-body">
                <h5 class="card-title">Informações relativas ao Imposto de Renda Retido na Fonte</h5>
                <p *ngIf="dados.infoIRRF.nrRecArqBase" class="card-text">Recibo do arquivo de origem: <b>{{ dados.infoIRRF.nrRecArqBase }}</b></p>
                <p class="card-text">Existe Informações: <b>{{ dados.infoIRRF.indExistInfo | myIndicativoImpostoRenda}}</b></p>

                <div *ngFor="let infoCRContrib of dados.infoIRRF.infoCRContrib" class="card mt-3 infoCRContrib">
                    <div class="card-body">
                        <h5 class="card-title">IRRF por código de Receita - CR.: <b>{{ infoCRContrib.tpCR }}</b></h5>
                        <p class="card-text">Código de Receita - CR: <b>{{ infoCRContrib.tpCR | myCodigoReceita }}</b></p>
                        <p class="card-text">Valor relativo ao crédito tributário - CT apurado: <b>{{ infoCRContrib.vrCR | currency:'BRL'}}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="voltar()" placement="top" ngbTooltip="Voltar">
                <i class="fa fa-lg fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="imprimir()">Imprimir</button>
        </div>
    </div>


</div>
