<div class="container-fluid">
  <div class="row">
    <div class="col-md-12  justify-content-md-center">
        <h3>Qualificação Cadastral</h3>
      </div>
  </div>
  <div class="row">
      <div class="col col-md6 col-md-offset-3 mt-5">
          <label class="custom-file">
              <input type="file" id="file2" class="custom-file-input">
              <span class="custom-file-control"></span>
            </label>
      </div>
    </div>
    <div class="row">
        <div class="col col-md6 col-md-offset-3 mt-3">
            <button type="button" class="btn btn-primary">Gerar Arquivo</button>
        </div>
      </div>
    </div>