<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-center mt-3">Apuração de Contribuições Sociais Consolidada</h3>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="voltar()" placement="top" ngbTooltip="Voltar">
                <i class="fa fa-lg fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="imprimir()">Imprimir</button>
        </div>
    </div>

    <div *ngIf="!dados">
        <h5>Não há dados para exibir</h5>
    </div>

    <div *ngIf="dados" id="conteudoImpressao">
        <div class="card mt-3 ideEvento"><!--ideEvento-->
            <div class="card-body">
                <h5 class="card-title">Período de Apuração</h5>
                <p class="card-text">Indicativo do Período de Apuração: <b>{{ dados.ideEvento.indApuracao | myIndicativoPeriodoApuracao}}</b></p>
                <p class="card-text">Período ao qual se referem as informações: <b>{{ dados.ideEvento.perApur | myCompetencia}}</b></p>
            </div>
        </div>

        <div class="card mt-3 ideEmpregador"><!--ideEmpregador-->
            <div class="card-body">
                <h5 class="card-title">Empregador</h5>
                <p class="card-text">CNPJ: <b>{{ dados.ideEmpregador.nrInsc | myCnpj }}</b></p>
            </div>
        </div>

        <div class="card mt-3 infoCS"> <!--infoCS-->
            <div class="card-body">
                <h5 class="card-title">Informações relativas às Contribuições Sociais devidas à Previdência Social e a Outras Entidades e Fundos</h5>
                <p *ngIf="dados.infoCS.nrRecArqBase" class="card-text">Recibo do arquivo de origem: <b>{{ dados.infoCS.nrRecArqBase }}</b></p>
                <p class="card-text">Indicativo da existência de valores: <b>{{ dados.infoCS.indExistInfo | myIndicativoContribuicoesSociais }}</b></p>

                <div *ngIf="dados.infoCS.infoCPSeg" class="card mt-3 infoCPSeg"><!--infoCPSeg-->
                    <div class="card-body">
                        <h5 class="card-title">Informações de contribuição previdenciária do Segurado</h5>
                        <p class="card-text" *ngIf="dados.infoCS.infoCPSeg.vrDescCP !== 0">Valor total da contribuição descontada dos segurados: <b>{{ dados.infoCS.infoCPSeg.vrDescCP | currency:'BRL' }}</b></p>
                        <p class="card-text" *ngIf="dados.infoCS.infoCPSeg.vrCpSeg !== 0">Valor total calculado relativo à contribuição dos segurados: <b>{{ dados.infoCS.infoCPSeg.vrCpSeg | currency:'BRL' }}</b></p>
                    </div>
                </div>

                <div class="card mt-3 infoContrib"><!--infoContrib-->
                    <div class="card-body">
                        <h5 class="card-title">Informações gerais do contribuinte necessárias à apuração das contribuições sociais</h5>
                        <p class="card-text">Classificação tributária: <b>{{ dados.infoCS.infoContrib.descricao }}</b></p>

                        <div *ngIf="dados.infoCS.infoContrib.infoPJ" class="card mt-3 infoPJ"><!--infoPJ-->
                            <div class="card-body">
                                <h5 class="card-title">Informações complementares, exclusivas da Pessoa Jurídica</h5>
                                <p *ngIf="dados.infoCS.infoContrib.infoPJ.indCoop" class="card-text">Indicativo de Cooperativa: <b>{{ dados.infoCS.infoContrib.infoPJ.indCoop | myIndicativoCooperativas}}</b></p>
                                <p class="card-text">Indicativo de Construtora: <b>{{ dados.infoCS.infoContrib.infoPJ.indConstr | myIndicativoConstrutora}}</b></p>
                                <p *ngIf="dados.infoCS.infoContrib.infoPJ.indSubstPatr" class="card-text">Indicativo de substituição da contribuição previdenciária patronal: <b>{{ dados.infoCS.infoContrib.infoPJ.indSubstPatr | myIndicativoContribuicaoPrevidenciariaPatronal}}</b></p>
                                <p *ngIf="dados.infoCS.infoContrib.infoPJ.percRedContrib" class="card-text">Percentual de redução da contribuição prevista na lei 12.546/2011: <b>{{ dados.infoCS.infoContrib.infoPJ.percRedContrib }}</b></p>

                                <!--<div *ngFor="let infoAtConc of infoPJ.infoAtConc" class="card mt-3 infoAtConc">&lt;!&ndash;infoAtConc&ndash;&gt;-->
                                <!--<div class="card-body">-->
                                <!--<h5 class="card-title">Informações prestadas por empresa enquadrada no Regime de Tributação Simples Nacional com tributação previdenciária substituída e não substituída</h5>-->
                                <!--<p class="card-text">Fator a ser utilizado para cálculo da contribuição patronal do mês dos trabalhadores envolvidos na execução das atividades enquadradas no Anexo IV em conjunto com as dos Anexos I a III e V da Lei Complementar nº 123/2006: {{ infoAtConc.fatorMes[0] }}</p>-->
                                <!--<p class="card-text">Fator a ser utilizado para cálculo da contribuição patronal do décimo terceiro dos trabalhadores envolvidos na execução das atividades enquadradas no Anexo IV em conjunto com as dos Anexos I a III e V da Lei Complementar nº 123/2006: {{ infoAtConc.fator13[0] }}</p>-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let ideEstab of dados.infoCS.ideEstab" class="card mt-3 ideEstab"><!--ideEstab-->
                    <div class="card-body">
                        <h5 class="card-title">Informações de identificação do estabelecimento: {{ ideEstab.nrInsc.$numberLong | myCnpj }}</h5>
                        <p class="card-text">Tipo de inscrição: <b>{{ ideEstab.tpInsc | myTipoInscricao }}</b></p>
                        <p class="card-text">Número de inscrição: <b>{{ ideEstab.nrInsc.$numberLong | myCnpj }}</b></p>

                        <div *ngIf="ideEstab.infoEstab" class="card mt-3 infoEstab"><!--infoEstab-->
                            <div class="card-body">
                                <h5 class="card-title">Informações relativas a cada estabelecimento, necessárias à apuração das contribuições sociais</h5>
                                <p class="card-text">CNAE preponderante: <b>{{ ideEstab.infoEstab.cnaePrep }}</b></p>
                                <p class="card-text">Alíquota do RAT: <b>{{ ideEstab.infoEstab.aliqRat }}</b></p>
                                <p class="card-text">Fator Acidentário de Prevenção - FAP: <b>{{ ideEstab.infoEstab.fap }}</b></p>
                                <p class="card-text">Alíquota do RAT após ajuste pelo FAP: <b>{{ ideEstab.infoEstab.aliqRatAjust }}</b></p>

                                <!--<div *ngFor="let infoComplObra of infoEstab.infoComplObra" class="card mt-3 infoComplObra">&lt;!&ndash;infoComplObra&ndash;&gt;-->
                                <!--<div class="card-body">-->
                                <!--<h5 class="card-title">Informações complementares relativas a obras de construção civil</h5>-->
                                <!--<p class="card-text">Indicativo de Substituição da Contribuição Patronal de Obra de Construção Civil: {{ infoComplObra.indSubstPatrObra[0] | myIndicativoContribuicaoPatronalObra }}</p>-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div *ngFor="let ideLotacao of ideEstab.ideLotacao" class="card mt-3 ideLotacao"><!--ideLotacao-->
                            <div class="card-body">
                                <h5 class="card-title">Identificação da lotação tributária: {{ ideLotacao.codLotacao }}</h5>
                                <p class="card-text">Código de lotação tributária: <b>{{ ideLotacao.codLotacao }}</b></p>
                                <p class="card-text">Código relativo ao FPAS: <b>{{ ideLotacao.fpas }}</b></p>
                                <p class="card-text">Código de terceiros: <b>{{ ideLotacao.codTercs }}</b></p>
                                <p *ngIf="ideLotacao.codTercsSusp" class="card-text">Código combinado dos Terceiros para os quais o recolhimento está suspenso em virtude de processos Judiciais: <b>{{ ideLotacao.codTercsSusp }}</b></p>

                                <div *ngFor="let infoTercSusp of ideLotacao.infoTercSusp" class="card mt-3 infoTercSusp"><!--infoTercSusp-->
                                    <div class="card-body">
                                        <h5 class="card-title">Informações de suspensão de contribuições destinadas a Outras Entidades e Fundos (Terceiros)</h5>
                                        <p class="card-text">Código de Terceiro: <b>{{ infoTercSusp.codTerc }}</b></p>
                                    </div>
                                </div>

                                <!--<div *ngFor="let infoEmprParcial of ideLotacao.infoEmprParcial" class="card mt-3 infoEmprParcial">&lt;!&ndash;infoEmprParcial&ndash;&gt;-->
                                <!--<div class="card-body">-->
                                <!--<h5 class="card-title">Informação complementar destinada à identificação do contratante e do proprietário de obra de construção civil contratada sob regime de empreitada parcial ou subempreitada</h5>-->
                                <!--<p class="card-text">Tipo de Inscrição do contratante: {{ infoEmprParcial.tpInscContrat[0] | myTipoInscricao }}</p>-->
                                <!--<p class="card-text">Número de Inscrição (CNPJ/CPF) do Contrante: {{ infoEmprParcial.nrInscContrat[0] }}</p>-->
                                <!--<p class="card-text">Tipo de Inscrição do proprietário do CNO: {{ infoEmprParcial.tpInscProp[0] | myTipoInscricao }}</p>-->
                                <!--<p class="card-text">Número de inscrição (CNPJ/CPF) do proprietário do CNO: {{ infoEmprParcial.nrInscProp[0] }}</p>-->
                                <!--</div>-->
                                <!--</div>-->

                                <div *ngIf="ideLotacao.dadosOpPort" class="card mt-3 dadosOpPort"><!--dadosOpPort-->
                                    <div class="card-body">
                                        <h5 class="card-title">Detalhamento das informações do Operador Portuário que está sendo incluído</h5>
                                        <p class="card-text">CNPJ do operador portuário: <b>{{ ideLotacao.dadosOpPort.cnpjOpPortuario }}</b></p>
                                        <p class="card-text">Alíquota definida na legislação vigente para a atividade (CNAE) preponderante: <b>{{ ideLotacao.dadosOpPort.aliqRat }}</b></p>
                                        <p class="card-text">Fator Acidentário de Prevenção - FAP: <b>{{ ideLotacao.dadosOpPort.fap }}</b></p>
                                        <p class="card-text">Alíquota do RAT após ajuste pelo FAP: <b>{{ ideLotacao.dadosOpPort.aliqRatAjust }}</b></p>
                                    </div>
                                </div>

                                <div *ngFor="let basesRemun of ideLotacao.basesRemun" class="card mt-3 basesRemun"><!--basesRemun-->
                                    <div class="card-body">
                                        <h5 class="card-title">Bases de cálculo da contribuição previdenciária incidente sobre remunerações, por categoria</h5>
                                        <p class="card-text">Tipo de incidência para fins de apuração da contribuição previdenciária: <b>{{ basesRemun.indIncid | myTipoIncidenciaContribuicaoPrevidenciaria}}</b></p>
                                        <p class="card-text">Código da categoria do trabalhador: <b>{{ basesRemun.codCateg }} - {{ basesRemun.descricao }}</b></p>

                                        <div class="card mt-3 basesCp"><!--basesCp-->
                                            <div class="card-body">
                                                <h5 class="card-title">Valores correspondentes às bases, contribuições do segurado e deduções da contribuição previdenciária</h5>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrBcCp00 !== 0">Base de cálculo: <b>{{ basesRemun.basesCp.vrBcCp00 | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrBcCp15 !== 0">Base de cálculo da contribuição adicional para aposentadoria especial após 15 anos: <b>{{ basesRemun.basesCp.vrBcCp15 | currency:'BRL'}}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrBcCp20 !== 0">Base de cálculo da contribuição adicional para aposentadoria especial após 20 anos: <b>{{ basesRemun.basesCp.vrBcCp20 | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrBcCp25 !== 0">Base de cálculo da contribuição adicional para aposentadoria especial após 25 anos: <b>{{ basesRemun.basesCp.vrBcCp25 | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrSuspBcCp00 !== 0">Valor da BC com incidência suspensa em decorrência de decisão judicial: <b>{{ basesRemun.basesCp.vrSuspBcCp00 | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrSuspBcCp15 !== 0">Valor da base de cálculo da contribuição previdenciária adicional correspondente a exposição a agente nocivo que dá ao trabalhador direito a aposentadoria especial aos 15 anos de trabalho, com incidência suspensa em decorrência de decisão judicial: <b>{{ basesRemun.basesCp.vrSuspBcCp15 | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrSuspBcCp20 !== 0">Valor da base de cálculo da contribuição previdenciária adicional correspondente a exposição a agente nocivo que dá ao trabalhador expectativa de aposentadoria especial aos 20 anos de trabalho, com incidência suspensa em decorrência de decisão judicial: <b>{{ basesRemun.basesCp.vrSuspBcCp20 | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrSuspBcCp25 !== 0">Valor da base de cálculo da contribuição previdenciária adicional correspondente a exposição a agente nocivo que dá ao trabalhador direito a aposentadoria especial aos 25 anos de trabalho, com incidência suspensa em decorrência de decisão judicial: <b>{{ basesRemun.basesCp.vrSuspBcCp25 | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrDescSest !== 0">Valor total descontado do trabalhador para recolhimento ao Sest.: <b>{{ basesRemun.basesCp.vrDescSest | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrCalcSest !== 0">Valor calculado relativo à contribuição devida pelo trabalhador para recolhimento ao Sest.: <b>{{ basesRemun.basesCp.vrCalcSest | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrDescSenat !== 0">Valor total descontado do trabalhador para recolhimento ao Senat.: <b>{{ basesRemun.basesCp.vrDescSenat | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrCalcSenat !== 0">Valor calculado relativo à contribuição devida pelo trabalhador para recolhimento ao Senat.: <b>{{ basesRemun.basesCp.vrCalcSenat | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrSalFam !== 0">Valor total do salário-família para a categoria indicada no registro superior: <b>{{ basesRemun.basesCp.vrSalFam | currency:'BRL' }}</b></p>
                                                <p class="card-text" *ngIf="basesRemun.basesCp.vrSalMat !== 0">Valor total do salário-maternidade para a categoria indicada: <b>{{ basesRemun.basesCp.vrSalMat | currency:'BRL' }}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="ideLotacao.basesAvNPort" class="card mt-3 basesAvNPort"><!--basesAvNPort-->
                                    <div class="card-body">
                                        <h5 class="card-title">Informações de bases de cálculo relativas à contratação de trabalhadores avulsos não portuários. Informações desse grupo conforme informado pelo contribuinte em S-1270</h5>
                                        <p class="card-text" *ngIf="ideLotacao.basesAvNPort.vrBcCp00 !== 0">Valor da base de cálculo da contribuição previdenciária sobre a remuneração dos trabalhadores avulsos não portuários: <b>{{ ideLotacao.basesAvNPort.vrBcCp00 | currency:'BRL' }}</b></p>
                                        <p class="card-text" *ngIf="ideLotacao.basesAvNPort.vrBcCp15 !== 0">Valor da base de cálculo da contribuição adicional para o financiamento dos benefícios de aposentadoria especial após 15 anos de contribuição: <b>{{ ideLotacao.basesAvNPort.vrBcCp15 | currency:'BRL'  }}</b></p>
                                        <p class="card-text" *ngIf="ideLotacao.basesAvNPort.vrBcCp20 !== 0">Valor da base de cálculo da contribuição adicional para o financiamento dos benefícios de aposentadoria especial após 20 anos de contribuição: <b>{{ ideLotacao.basesAvNPort.vrBcCp20 | currency:'BRL'  }}</b></p>
                                        <p class="card-text" *ngIf="ideLotacao.basesAvNPort.vrBcCp25 !== 0">Valor da base de cálculo da contribuição adicional para o financiamento dos benefícios de aposentadoria especial após 25 anos de contribuição: <b>{{ ideLotacao.basesAvNPort.vrBcCp25 | currency:'BRL'  }}</b></p>
                                        <p class="card-text" *ngIf="ideLotacao.basesAvNPort.vrBcCp13 !== 0">Valor da base de cálculo da contribuição previdenciária sobre o 13° salário dos trabalhadores avulsos não portuários contratados: <b>{{ ideLotacao.basesAvNPort.vrBcCp13 | currency:'BRL'  }}</b></p>
                                        <p class="card-text" *ngIf="ideLotacao.basesAvNPort.vrBcFgts !== 0">Valor da base de cálculo do FGTS sobre a remuneração dos trabalhadores avulsos não portuários contratados: <b>{{ ideLotacao.basesAvNPort.vrBcFgts | currency:'BRL'  }}</b></p>
                                        <p class="card-text" *ngIf="ideLotacao.basesAvNPort.vrDescCP !== 0">Preencher com o valor total da contribuição descontada dos trabalhadores avulsos não portuários: <b>{{ ideLotacao.basesAvNPort.vrDescCP | currency:'BRL'  }}</b></p>
                                    </div>
                                </div>

                                <div *ngFor="let infoSubstPatrOpPort of ideLotacao.infoSubstPatrOpPort" class="card mt-3 infoSubstPatrOpPort"><!--infoSubstPatrOpPort-->
                                    <div class="card-body">
                                        <h5 class="card-title">Registro preenchido exclusivamente pelo OGMO (classTrib=09) relativamente a seus Operadores Portuários enquadrados nos artigos 7 a 9 da Lei 12.546/2011</h5>
                                        <p class="card-text">CNPJ do operador portuário: <b>{{ infoSubstPatrOpPort.cnpjOpPortuario }}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let basesAquis of ideEstab.basesAquis" class="card mt-3 basesAquis"><!--basesAquis-->
                            <div class="card-body">
                                <h5 class="card-title">Informações de bases de cálculo relativas a aquisição de produção rural</h5>
                                <p class="card-text">Indicativo da Aquisição: <b>{{ basesAquis.indAquis | myIndicativoAquisicao }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vlrAquis !== 0">Valor total da aquisição de produção rural de produtor rural: <b>{{ basesAquis.vlrAquis | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vrCPDescPR !== 0">Valor da Contribuição Previdenciária descontada pelo adquirente de produção de produtor rural - sub-rogação: <b>{{ basesAquis.vrCPDescPR | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vrCPNRet !== 0">Valor da Contribuição Previdenciária que deixou de ser retida pelo declarante em decorrência de decisão/sentença judicial: <b>{{ basesAquis.vrCPNRet | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vrRatNRet !== 0">Valor da GILRAT, incidente sobre a aquisição de produção rural de produtor rural, cuja retenção deixou de ser efetuada em decorrência de decisão/sentença judicial: <b>{{ basesAquis.vrRatNRet | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vrSenarNRet !== 0">Valor da contribuição destinada ao SENAR, incidente sobre a aquisição de produção rural de produtor rural pessoa física/segurado especial, e que deixou de ser retida em decorrência de decisão/sentença judicial: <b>{{ basesAquis.vrSenarNRet | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vrCPCalcPR !== 0">Valor calculado na contribuição previdenciária do produtor rural: <b>{{ basesAquis.vrCPCalcPR | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vrRatDescPR !== 0">Valor da contribuição destinada ao financiamento dos benefícios concedidos em razão do grau de incidência da incapacidade laborativa decorrente dos riscos ambientais do trabalho, incidente sobre a aquisição de produção rural de produtor rural: <b>{{ basesAquis.vrRatDescPR | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vrRatCalcPR !== 0">Valor calculado do RAT devido pelo Produtor Rural: <b>{{ basesAquis.vrRatCalcPR | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vrSenarDesc !== 0">Valor da contribuição destinada ao SENAR, incidente sobre a aquisição de produção rural de produtor rural pessoa física/segurado especial: <b>{{ basesAquis.vrSenarDesc | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="basesAquis.vrSenarCalc !== 0">Valor calculado da contribuição devida pelo produtor rural ao Senar: <b>{{ basesAquis.vrSenarCalc | currency:'BRL' }}</b></p>
                            </div>
                        </div>

                        <div *ngFor="let basesComerc of ideEstab.basesComerc" class="card mt-3 basesComerc"><!--basesComerc-->
                            <div class="card-body">
                                <h5 class="card-title">Informações de bases de cálculo relativas à comercialização da produção rural da Pessoa Física</h5>
                                <p class="card-text">Indicativo de Comercialização: <b>{{ basesComerc.indComerc | myIndicativoComercializacao }}</b></p>
                                <p class="card-text" *ngIf="basesComerc.vrBcComPR !== 0">Valor da Base de Cálculo da comercialização da produção rural do Produtor Rural PF/Segurado Especial a outra PF no varejo ou a outro Produtor Rural PF/Segurado Especial ou no mercado Externo: <b>{{ basesComerc.vrBcComPR | currency:'BRL' }}</b></p>
                                <p *ngIf="basesComerc.vrCPSusp" class="card-text">Valor da Contribuição Previdenciária com exigibilidade suspensa: <b>{{ basesComerc.vrCPSusp | currency:'BRL' }}</b></p>
                                <p *ngIf="basesComerc.vrRatSusp" class="card-text">Valor da contribuição para Gilrat com exigibilidade suspensa: <b>{{ basesComerc.vrRatSusp | currency:'BRL' }}</b></p>
                                <p *ngIf="basesComerc.vrSenarSusp" class="card-text">Valor da contribuição para o Senar com exigibilidade suspensa: <b>{{ basesComerc.vrSenarSusp | currency:'BRL' }}</b></p>
                            </div>
                        </div>

                        <div *ngFor="let infoCREstab of ideEstab.infoCREstab" class="card mt-3 infoCREstab"><!--infoCREstab-->
                            <div class="card-body">
                                <h5 class="card-title">Informações das contribuições sociais devidas à Previdência Social e Outras Entidades e Fundos, consolidadas por estabelecimento e por código de Receita - CNPJ: {{ ideEstab.nrInsc.$numberLong | myCnpj  }} - CR: {{ infoCREstab.tpCR }}</h5>
                                <p class="card-text">Código de Receita - CR: <b>{{ infoCREstab.tpCR }}</b></p>
                                <p class="card-text" *ngIf="infoCREstab.vrCR  !== 0">Valor correspondente ao Código de Receita - CR apurado: <b>{{ infoCREstab.vrCR | currency:'BRL' }}</b></p>
                                <p class="card-text" *ngIf="infoCREstab.vrSuspCR !== 0">Valor suspenso correspondente ao Código de Receita - CR apurado: <b>{{ infoCREstab.vrSuspCR | currency:'BRL' }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngFor="let infoCRContrib of dados.infoCS.infoCRContrib" class="card mt-3 infoCRContrib"><!--infoCRContrib-->
                    <div class="card-body">
                        <h5 class="card-title">Informações consolidadas das contribuições sociais devidas à Previdência Social e Outras Entidades e Fundos, por código de Receita - CR: {{ infoCRContrib.tpCR }}</h5>
                        <p class="card-text">Código de Receita - CR: <b>{{ infoCRContrib.tpCR }}</b></p>
                        <p class="card-text" *ngIf="infoCRContrib.vrCR !== 0">Valor correspondente ao Código de Receita - CR apurado: <b>{{ infoCRContrib.vrCR | currency:'BRL' }}</b></p>
                        <p class="card-text" *ngIf="infoCRContrib.vrCRSusp !== 0">Valor do tributo com exigibilidade suspensa. Se não houver informação, preencher com zero: <b>{{ infoCRContrib.vrCRSusp | currency:'BRL' }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="voltar()" placement="top" ngbTooltip="Voltar">
                <i class="fa fa-lg fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="imprimir()">Imprimir</button>
        </div>
    </div>

</div>
