<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col col-md-4">
            <h3>Autenticação de acesso</h3>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !username.valid }">
                    <label for="username">Nome de usuário</label>
                    <input type="text" class="form-control" name="username"
                        [ngClass]="{ 'form-control-danger': f.submitted && !username.valid }"
                        [(ngModel)]="usuario.username" #username="ngModel" required />
                    <div *ngIf="f.submitted && !username.valid" class="form-control-feedback help-block">Nome de usuário é obrigatório</div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" name="password" 
                        [(ngModel)]="usuario.password" #password="ngModel" required />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Senha é obrigatória</div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!username.valid || !password.valid">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
