.ng-valid[required], .ng-valid.required  {
    border-color: #42A948;
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #d9534f; /* red */
  }
