<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-left mt-3">ENVIO DE ARQUIVOS</h3>
        </div>
    </div>
    <div *ngIf="hideAlertMessage" class="alert alert-success" role="alert">
            Arquivo(s) enviado(s) com sucesso!
    </div>
    <div class="row" *ngIf="hideFeedBack">
        <div class="input-group-text" [innerHTML]="contentFiles"></div>
    </div>
    <br>
    <div class="row">
        <div class="input-group col-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="file-upload">Envio:</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file-upload"
                aria-describedby="file-upload" (change)="fileUpload($event)" accept=".xml" multiple>
                <label class="custom-file-label" for="file-upload">Escolher arquivos</label>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 justify-content-md-center">
            <button type="button" [disabled]="botaoHabilitar()" class="btn btn-primary" (click)="enviarEvento()">Enviar</button>
        </div>
    </div>
</div>