:host /deep/ .btn-secondary {
    /* background-color: #AAA; */
    border-radius: .25em;
}

:host /deep/ .ui-select-choices {
    display: block;
}

:host /deep/ .ui-select-search {

    }

:host /deep/ .ui-select-match-item {
    padding: .25rem .37rem;

}

input.ui-select-search {
    background-color: #F00 !important;
}


:host /deep/ .ui-select-match .close {
    font-size: 1em;
    line-height: 1;
}

:host /deep/ .modal-lg {
    max-width: 80%;
}

#xml {
    margin: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}

:host /deep/ .tooltip-inner {
    max-width: 280px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #868e96;
    border-radius: .25rem;
}

:host /deep/ .tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #868e96;
}

:host /deep/ .tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #868e96;
}

:host /deep/ .tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #868e96;
}

:host /deep/ .tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #868e96;
}

:host /deep/ .table td, .table th {
    padding: .15rem .15rem .15rem .75rem;
    vertical-align: middle;
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}

.ocorrencia-erro {
    color: red !important;
}

.ocorrencia-advertencia {
    color: green !important;
}