<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-center mt-3">Relatório de Erros</h3>
        </div>
    </div>

    <div class="row" *ngFor="let erro of erros">
        <div class="card mt-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title"><span class="badge badge-secondary">{{ erro._id.tipo }}</span> {{ erro.descricaoTipo }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ erro._id.descricao }}</h6>
                <p class="card-text">Localização: {{ erro._id.localizacao }} </p>
                <p class="card-text mb-0" *ngIf="erro.cpfs.length > 0">CPF's: </p>
                <p class="card-text mb-0" *ngFor="let cpf of erro.cpfs">{{ cpf | cpf }}</p>
            </div>
        </div>
    </div>

</div>
