<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-left mt-3">EVENTOS TRABALHADOR</h3>
        </div>
    </div>
    <!---->
    <div class="row mt-3">
        <div class="col">
            <div id="collapseExample" [ngbCollapse]="isCollapsed">
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-3">
                                <h6>Evento</h6>
                                <ng-select [multiple]="true" [items]="layoutsESocial" [disabled]="disabled" (data)="atualizaLayoutsSelecionados($event)"
                                    placement="top" ngbTooltip="Selecione os eventos desejados" (selected)="layoutSelecionado($event,mysearchfilter.value)"
                                    (removed)="layoutRemovido($event,mysearchfilter.value)" placeholder="Nenhum evento selecionado"></ng-select>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col col-4">
                                <h6>CPF do Trabalhador</h6>
                                <div class="input-group mb-3">
                                    <input #mysearchfilter type="text" [textMask]="{mask: cpfMask}" [(ngModel)]="pesquisaCpf" class="form-control" placeholder="Digite o CPF">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" [disabled]="verificaPesquisar()" (click)="getEventos(1,porPagina,true,mysearchfilter.value);">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="row">
        <div class="col col-md6 col-md-offset-3 mt-3">
            <table *ngIf="!zeroEventos" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" id="toggleCb" name="toggleCb"
                                    [(ngModel)]="paginaSelecionada" (change)="togglePagina($event)"
                                    value="0" title="{{titleTodos}}">
                            </div>
                        </th>
                        <th>Grupo</th>
                        <th>Operação</th>
                        <th>Evento</th>
                        <th>Data/Hora Geração</th>
                        <!-- Responsável -->
                        <th>Situação</th>
                        <th>Recibo</th>
                        <th>XML</th>
                        <th>Erros</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evento of eventos; let i = index" (click)="selecionaEvento(i)" [ngClass]="{'table-primary': i === eventoDestacadoIndex}">
                        <th scope="row">
                            <div class="form-check">
                                <!-- -->
                                <input *ngIf="!checkHabilitado(evento.status?.cdResposta,evento.excluido)" class="form-check-input position-static" type="checkbox" value="{{ evento._id?.$oid }}"
                                    name="{{ evento._id?.$oid }}" [checked]="(verificaChecked(evento._id?.$oid) ? 'checked' : '')"
                                    (change)="atualizaEventosSelecionados($event, evento.status?.cdResposta)" [(ngModel)]="evento.selecionado"/>
                                <i *ngIf="evento.excluido === true" placement="top" ngbTooltip="Excluído do eSocial" class="fa fa-lg fa-times" style="color:red"></i>
                            </div>
                        </th>
                        <td>{{evento.grupo?.descricao}}</td>
                        <td>{{evento.operacao?.descricao}}</td>
                        <td>{{evento.tipo ? evento.tipo.id + ' - ' + evento.tipo.descricao : 'Erro ao carregar evento oid: ' + evento._id?.$oid}}</td>
                        <td>{{evento.dhGeracao | myDate}}</td>
                        <td [ngClass]="classeSituacao(evento.status?.cdResposta)">
                            <i [class]="classeIconeSituacao(evento.status?.cdResposta)"></i>
                            {{codigoErro(evento.status?.cdResposta)}}{{evento.status?.descResposta}}
                        </td>
                        <td>{{evento.nrRecibo}}</td>
                        <td>
                            <button type="button" class="btn btn-link text-dark" placement="left" ngbTooltip="Exibir XML" (click)="abrirXml(evento.xml)">
                                <i class="fa fa-lg fa-code"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-link text-dark" placement="left" ngbTooltip="Exibir ocorrências de erros" (click)="abrirErros(evento.ocorrencias)"
                                [style.display]="styleErro(evento.status?.cdResposta)">
                                <i class="fa fa-lg fa-external-link"></i>
                            </button>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Ações">
                                <button type="button" class="btn btn-link text-danger" *ngIf="evento.status?.cdResposta === 101" (click)="retornaAoImportado(evento._id?.$oid)"
                                    placement="top" ngbTooltip="Desautorizar envio para eSocial">
                                    <i class="fa fa-undo"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3" *ngIf="!zeroEventos">
        <div class="col-3">
            <button type="button" class="btn btn-primary" [disabled]="!todosPodeEnviar()" placement="right" ngbTooltip="Autorizar o envio para o eSocial, dos eventos selecionados com situação Importado."
                (click)="abrirEnviar()">
                <i class="fa fa-send fa-lg"></i>
                <span class="pl-2 font-weight-bold">Enviar</span>
            </button>
            <button type="button" class="btn btn-danger" (click)="abrirRemoverLista()" [disabled]="!todosPodeExcluirLocal()"><i class="fa fa-lg fa-trash"></i> Excluir</button>
            <button type="button" class="btn btn-danger" (click)="confirmaRemoverESocial()" [disabled]="!todosPodeExcluirESocial()" placement="top"
                    ngbTooltip="Marcar eventos selecionados para exclusão no eSocial"><i class="fa fa-lg fa-cloud-download"></i> Excluir do eSocial</button>
        </div>
        <div class="col col-6">
            <ngb-pagination *ngIf="totalEventos > porPagina" class="justify-content-center" (pageChange)="mudaPagina($event)" [collectionSize]="totalEventos"
                [boundaryLinks]="true" [rotate]="true" [maxSize]="5" [(page)]="pagina" [(pageSize)]="porPagina">
            </ngb-pagination>
            <div class="justify-content-center">
                <h5>
                    <span class="badge badge-secondary">Eventos: {{ totalEventos }}</span>
                </h5>
            </div>
        </div>
        <div class="col col-3s">
            <div class="pull-right">
                <select class="form-control form-control-sm" (change)="onChangePorPagina($event)" [(ngModel)]="porPagina">
                    <option selected value="5">5 eventos/página</option>
                    <option value="10">10 eventos/página</option>
                    <option value="15">15 eventos/página</option>
                    <option value="20">20 eventos/página</option>
                    <option value="50">50 eventos/página</option>
                    <option value="100">100 eventos/página</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!-- MODAIS
    -->
<!-- MODAL Envio de eventos ************************************************************************* -->
<ng-template #dlgEnviar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Envio de eventos</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="text-center">
            {{mensagemEnvio}}
        </h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>

<!-- MODAL Erros ************************************************************************************* -->
<ng-template #dlgErros let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Ocorrências de Erros</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let ocorrencia of errosOcorrencias" class="card mb-4">
            <div class="card-header bg-secondary text-white">
                Erro
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Código: </strong>{{ ocorrencia.codigo}}</li>
                <li class="list-group-item">
                    <small>
                        <strong>Descrição:</strong>
                    </small>
                    <br/>{{ ocorrencia.descricao}}</li>
                <li *ngIf="ocorrencia.localizacao" class="list-group-item">
                    <small>
                        <strong>Localização:</strong>
                    </small>
                    <br/>{{ ocorrencia.localizacao}}</li>
                <li *ngIf="ocorrencia.tipo" class="list-group-item">
                    <small>
                        <strong>Tipo:</strong>
                    </small>
                    <br/><strong [ngClass]="(ocorrencia.tipo === 1) ? 'ocorrencia-erro':'ocorrencia-advertencia'">{{ ocorrencia.tipo === 1 ? 'Erro' : 'Advertência'}}</strong></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>

<!-- MODAL XML ***************************************************************************************** -->
<ng-template #dlgXML let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">XML do Evento</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngx-prism [language]="language">{{ xmlEvento | myXml }}</ngx-prism>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
    </div>
</ng-template>

<!-- MODAL Remover Evento **************************************************************************** -->
<ng-template #dlgRemover let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Remoção de evento</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Deseja confirmar a remoção?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-primary" [disabled]="botaoExcluirHabilitar()" (click)="removerEventos();">Sim</button>
    </div>
</ng-template>

<!-- MODAL Remover Evento **************************************************************************** -->
<ng-template #dlgRemoverESocial let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Remoção de eventos do eSocial</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Deseja confirmar a remoção do eSocial?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
        <button type="button" class="btn btn-primary" [disabled]="botaoExcluirHabilitar()" (click)="removerEventosESocial();">Sim</button>
    </div>
</ng-template>
