<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-center mt-3">Apuração de Fundo de Garantia Consolidado</h3>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="voltar()" placement="top" ngbTooltip="Voltar">
                <i class="fa fa-lg fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="imprimir()">Imprimir</button>
        </div>
    </div>

    <div *ngIf="!dados">
        <h5>Não há dados para exibição</h5>
    </div>

    <div *ngIf="dados" id="conteudoImpressao">
        <div class="card mt-3 ideEvento">
            <div class="card-body">
                <h5 class="card-title">Período de Apuração</h5>
                <p class="card-text">Período ao qual se referem as informações: <b>{{ dados.ideEvento.perApur | myCompetencia }}</b></p>
            </div>
        </div>

        <div class="card mt-3 ideEmpregador">
            <div class="card-body">
                <h5 class="card-title">Empregador</h5>
                <p class="card-text">CNPJ: <b>{{ dados.ideEmpregador.nrInsc | myCnpj }}</b></p>
            </div>
        </div>

        <div class="card mt-3 infoIRRF">
            <div class="card-body">
                <h5 class="card-title">Informações relativas ao Fundo de Garantia</h5>
                <p *ngIf="dados.infoFGTS.nrRecArqBase" class="card-text">Recibo do arquivo de origem: <b>{{ dados.infoFGTS.nrRecArqBase }}</b></p>
                <p class="card-text">Existe Informações: <b>{{ dados.infoFGTS.indExistInfo | myIndicativoImpostoRenda}}</b></p>

                <div *ngFor="let infoBase of dados.infoFGTS.infoBaseFGTS.basePerApur" class="card mt-3 infoCRContrib">
                    <div class="card-body">
                        <h5 class="card-title">Base Fundo de garantia - Tipo: <b>{{infoBase.tpValor}} - {{infoBase.descricao}}</b></h5>
                        <p class="card-text">Valor Base: <b>{{ infoBase.baseFGTS | currency:'BRL'}}</b></p>
                    </div>
                    <div *ngFor="let infoBasePerAntE of infoBase.infoBasePerAntE" class="card-body">
                        <h5 class="card-title">Período de Referência: <b>{{ infoBasePerAntE.perRef | myCompetencia }}</b></h5>
                        <p class="card-text">Informações consolidadas das bases de cálculo do FGTS de períodos anteriores quando - Tipo: <b>{{infoBasePerAntE.basePerAntE.tpValorE}} - {{infoBasePerAntE.basePerAntE.descricao}}</b></p>
                        <p class="card-text">Valor Base: <b>{{ infoBasePerAntE.basePerAntE.baseFGTSE | currency:'BRL'}}</b></p>
                    </div>
                </div>

                <div *ngFor="let dpsPerApur of dados.infoFGTS.infoDpsFGTS.dpsPerApur" class="card mt-3 infoCRContrib">
                    <div class="card-body">
                        <h5 class="card-title">Base Fundo de garantia - Tipo: <b>{{ dpsPerApur.tpDps }} - {{ dpsPerApur.descricao }}</b></h5>
                        <p class="card-text">Valor Base: <b>{{ dpsPerApur.vrFGTS | currency:'BRL'}}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="voltar()" placement="top" ngbTooltip="Voltar">
                <i class="fa fa-lg fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-primary" (click)="imprimir()">Imprimir</button>
        </div>
    </div>


</div>
