<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
            <h3 class="text-left mt-3">DASHBOARD</h3>
        </div>
    </div>
    <div class="row">
        <div class="col col-md2 mt-5">
            <div class="card-deck">

                <div class="card bg-light border-secondary">
                    <div class="card-header text-center">
                        <h4 class="card-title">Importados</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">
                            <span class="badge badge-info">{{ totaisSituacao[0] }}</span>
                        </h1>
                        <div class="row">
                            <div class="col text-dark text-center">
                                eventos foram importados do SIGRH e aguardam autorização para serem enviados ao eSocial.
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted" *ngIf="totaisSituacao[0]">
                            <div class="col text-dark text-center">
                                <button class="btn btn-lg btn-link text-dark" (click)="navegarImportados()">
                                    <i class="fa fa-external-link"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                <div class="card bg-light border-secondary">
                    <div class="card-header text-center">
                        <h4 class="card-title">Autorizados</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">
                            <span class="badge badge-warning">{{ totaisSituacao[1] }}</span>
                        </h1>
                        <div class="row">
                            <div class="col text-dark text-center">
                                eventos tiveram o envio para o eSocial autorizado e aguardam o envio.
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted" *ngIf="totaisSituacao[1]">
                            <div class="col text-dark text-center">
                                <button class="btn btn-lg btn-link text-dark" (click)="navegarAutorizados()">
                                    <i class="fa fa-external-link"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                <div class="card bg-light border-secondary">
                    <div class="card-header text-center">
                        <h4 class="card-title">Enviados</h4>
                    </div>

                    <div class="card-body">
                        <h1 class="text-center">
                            <span class="badge badge-primary">{{ totaisSituacao[2] }}</span>
                        </h1>
                        <div class="row">
                            <div class="col text-dark text-center">
                                eventos foram enviados ao eSocial e estão em fase de processamento.
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted" *ngIf="totaisSituacao[2]">
                            <div class="col text-dark text-center">
                                <button class="btn btn-lg btn-link text-dark" (click)="navegarEnviados()">
                                    <i class="fa fa-external-link"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                <div class="card bg-light border-secondary">
                    <div class="card-header text-center">
                        <h4 class="card-title">Sucesso!</h4>
                    </div>

                    <div class="card-body">
                        <h1 class="text-center">
                            <span class="badge badge-success">{{ totaisSituacao[3] }}</span>
                        </h1>
                        <div class="row">
                            <div class="col text-dark text-center">
                                eventos foram processados com sucesso pelo eSocial.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card bg-light border-secondary">
                    <div class="card-header text-center">
                        <h4 class="card-title">Erros</h4>
                    </div>

                    <div class="card-body">
                        <h1 class="text-center">
                            <span class="badge badge-danger">{{ totaisSituacao[4] }}</span>
                        </h1>
                        <div class="row">
                            <div class="col text-dark text-center">
                                eventos apresentaram problemas no processamento pelo eSocial.
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted" *ngIf="totaisSituacao[4]">
                        <div class="col text-dark text-center">
                            <button class="btn btn-lg btn-link text-dark" (click)="navegarErros()">
                                <i class="fa fa-external-link"></i>
                            </button>
                        </div>
                        <div class="col text-dark text-center">
                            <button class="btn btn-danger" (click)="navegarRelatorioErros()">
                                Relatório
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
