<div *ngIf="autenticado" ngbDropdown class="d-inline-block">
    <button class="btn btn-light" id="menu" ngbDropdownToggle>
        <span class="mr-3">MENU</span>
        <i class="fa fa-bars"></i>
    </button>
    <div ngbDropdownMenu aria-labelledby="menu">
        <button class="dropdown-item" (click)="navegar('')">Dashboard</button>
        <div class="dropdown-divider"></div>
        <!--<button class="dropdown-item" (click)="navegar('qualificacao')">Qualificação cadastral</button>-->
        <button class="dropdown-item" (click)="navegar('pendentes')">Eventos pendentes</button>
        <button class="dropdown-item" (click)="navegar('eventos-trabalhador')">Eventos trabalhador</button>
        <button class="dropdown-item" (click)="navegar('painel')">Painel de controle</button>
        <button class="dropdown-item" (click)="navegar('folha-pagamento')">Folha de pagamento</button>
        <button class="dropdown-item" (click)="navegar('envio-eventos')">Envio de eventos</button>
        <button class="dropdown-item" (click)="navegar('relatorios')" *ngIf="show">Relatórios</button>
        <!--<button class="dropdown-item" (click)="navegar('config')">Configurações</button>-->
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="navegar('login')">Sair</button>
    </div>
</div>
