<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12  justify-content-md-center">
                <h3 class="text-left mt-3">Agrupamento de Eventos da Folha - {{ folha?._id | myCompetencia }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col col-md6 col-md-offset-3 mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo de Evento</th>
                        <th>Evento</th>
                        <!--<th>Responsável</th>-->
                        <th class="text-center">Não Enviados</th>
                        <th class="text-center">Com Erro</th>
                        <th class="text-center">Recebidos</th>
                        <th>Detalhe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tipoEvento of tiposEvento">
                        <td>{{ totaisTipoSituacao[tipoEvento]['grupo'] }}</td>
                        <td>{{ tipoEvento }} - {{ totaisTipoSituacao[tipoEvento]['tipo_desc'] }}</td>
                        <!--<td></td>-->
                        <td class="text-center">{{ totaisTipoSituacao[tipoEvento][0] }}</td>
                        <td class="text-center">{{ totaisTipoSituacao[tipoEvento][3] }}</td>
                        <td class="text-center">{{ totaisTipoSituacao[tipoEvento][1] }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Ações">
                                <button type="button" class="btn btn-link text-dark" 
                                    [style.visibility]="mostrarDetalhe(totaisTipoSituacao[tipoEvento][1]) ? 'visible' : 'hidden'"
                                    placement="left" ngbTooltip="Ver detalhe" (click)="showDetalhes(tipoEvento)">
                                    <i class="fa fa-lg fa-external-link" [class.text-success]="mostrarDetalhe(totaisTipoSituacao[tipoEvento][1])"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>