/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.has-danger .control-label,
.has-danger .help-block,
.has-danger .form-control-feedback {
    color: #d9534f;
}

.has-danger .form-control {
    border-color: #d9534f;
}

.d-none {
    display: none !important;
}

.top-buffer { margin-top:20px; }